/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    background-color: rgb(126, 103, 126);
    height: 90vh;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftside h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.leftside p{
    font-size: 25px;
    margin-bottom: 20px;
    color:rgb(171, 166, 166)
}

.leftside button{
padding: 15px 20px;
font-size: 20px;
background-color: rgb(222, 85, 201);
border:none;
border-radius: 10px;
color:white
}
.rightside img{
    height: 90vh;
}
/* featured area css */

.featured-flower{
    padding: 50px 300px;
}
.featured-header{
    text-align: center;
}
.featured-header h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.featured-header p{
    font-size: 25px;
    margin-bottom: 50px;
    color:rgb(171, 166, 166)
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card-1{
    background-color: rgba(167, 33, 98, 0.15)
    ;
    border-radius: 300px 300px 0px 0px;
    width: 33%;
    text-align: center;
    height:500px;
    /* display: flex;
    justify-content: center;
    align-items: end; */
}
.link{
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 30px;
    margin-top: 10px;
}
.card-2{
    background-color: rgba(5, 151, 160, 0.15)
    ;
    border-radius: 300px 300px 0px 0px;
    width: 33%;
    text-align: center;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.card-3{
    background-color: rgba(71, 125, 17, 0.15)
    ;
    border-radius: 300px 300px 0px 0px;
    width: 33%;
    text-align: center;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.link{
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 30px;
    margin-top: 20px;
}
.link a{
    color: black;
}

/* service area css */

.service-area-container{
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 150px;
   
}

.service-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgba(39, 39, 39, 0.05);
}

.service-area img{
    width: 150px;
}
.service-image{
    margin-top: 86px 0px;
    padding: 30px;
}
.service-area p{
    font-size: 30px;
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
    line-height: 35px;
    font-weight: 600;
}

/* hot deal area css start */

.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.hot-deal img{
    margin: 100px 0px;
}

.content h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: #272727;
  
}
.content p{
    color: rgba(39, 39, 39, 0.6);
    font-size: 20px;
    margin: 25px;
    line-height: 30px;
}
.content button{
    border: none;
    color: #fff;
    border-radius: 8px;
    background: #e55473;
    padding: 20px 43px;
    margin-left: 150px;
}


/* instagram css start */

.instagram-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-bottom: 100px;
}
.instagram-content{
    margin-bottom: 50px;
}
.instagram-content h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.instagram-content p{
    font-size: 20px;
line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

/* contact area css start */

.contact-area{
    background-image: url(/images/Rectangle\ 9.png);
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
background-repeat: no-repeat;
margin-right: 14%;
margin-left: 14%;
margin-bottom: 100px;

}
.email-area{
    text-align: center;
}
.email-area h1{
   font-size: 50px;
   font-weight: 800px;
   margin-bottom: 20px;
}
.email-area p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #272727;
}
.email-area input{
    width: 700px;
    border-radius: 8px;
    background: #fff;
    padding: 22px;
    border: none;
}
.email-area button{
    border: none;
    margin-left: 5px;
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #e55473;
    color: #fff;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}