/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    background-color: rgb(126, 103, 126);
    height: 90vh;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftside h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.leftside p{
    font-size: 25px;
    margin-bottom: 20px;
}
.leftside button{
padding: 15px 20px;
font-size: 20px;
background-color: rgb(222, 85, 201);
border:none;
border-radius: 10px;
color:white
}
